#zWrap dl.module_bd_container dd{margin:5px 0 30px 5%;width:95% !important}
 #zWrap dl.module_bd_container dl dd{margin:0 0 20px 20px;width:auto !important}
 #hd:after,#ft:after{content: ".";display:block;height:0;clear:both;overflow:hidden;visibility:hidden}
 #body,#hd,#pageName,#zA,#zB,#zC,#ft{zoom:1}
 #pageName {overflow:hidden;_overflow:visible;_overflow-x:hidden}
 /**********************************
 Theme: Raven - Derived From: Mimosa  
 **********************************/
 #hd{min-height:140px;_height:140px}
 #bd{min-height:360px;_height:360px}
 #ft{min-height:165px;_height:165px;_overflow:visible;_overflow-x:hidden}
 #doc{width:802px;margin:0 auto}
 #hd{position:relative;float:left;width:100%}
 #hContent{width:550px;padding:85px 0 5px 228px}
 #hMisc{clear:both;height:20px;min-height:20px}
 #hMisc *{display:none !important}		
 #navigation{clear:both;float:left;width:180px;margin-left:13px;display:inline;margin-top:20px}
 #navigation ul#mainNav li {margin-bottom:2px}
 ul#mainNav li a{_zoom:1;display:block;padding:5px 3px 5px 10px}
 #bd{float:left;width:550px;margin:20px 0 20px 35px;display:inline}
 #pageName{width:550px}
 #fContent{float:right;width:275px;margin:20px 25px 20px 0;display:inline}
 #fMisc{float:left;width:335px;margin:20px 0 20px 20px;display:inline}
 #fBadges {width:760px;margin-left:auto;margin-right:auto;}
 #body .sub_static #mainNav .subNav a {padding-left:27px;}
 
 
 /**********************************
 Theme: Raven - Derived From: Mimosa  
 **********************************/
 	
 
 
 		
 		#body {
 			font-size: 12px;
 			font-family: Arial, Verdana, sans-serif;
 		}
 
 		
 		p {
 		}		
 
 		
 		hr {
 		}		
 
 
 		#body h1 {
 			font-size: 36px;
 			font-family: Georgia, "Times New Roman", Times, serif;
 		}
 
 
 		#body h2 {
 			font-size: 24px;
 			font-family: Helvetica, Geneva, Arial, sans-serif;
 		}
 
 
 		#body h3 {
 			font-family: Georgia, "Times New Roman", Times, serif;
 			font-size: 22px;
 		}
 
 
 		#body h4 {
 			font-weight: bold;
 		}
 
 
 		#hd {
 	
 		}
 
 
 		#ft {
 			font-size: 10px;
 		}
 
 
 		#fMisc {
 
 		}
 
 		
 		#fContent {
 
 		}
 
 
 		
 		ul#mainNav a:link,
 		ul#mainNav a:visited {
 			font-size: 17px;
 		}
 
 		ul#mainNav a:hover,
 		ul#mainNav a:focus,
 		ul#mainNav a:active {
 
 		}
 
 		
 
 		#body {
 			background-repeat: repeat-x;
 		}
 
 		#hd {
 			background-repeat: no-repeat;
 			background-position: 50% 0;
 		}
 
 
 		#hMisc {
 			background-repeat: no-repeat;
 			background-position: 50% 0;
 		}
 		
 		#zWrap {
 
 		}
 
 		#ft {
 			background-repeat: no-repeat;
 			background-position: 50% 0;
 		}
 
 
 
 		/* 
 		 * direction and color of the arrow (assuming arrow sprite)
 		 */
 		#body .toggle img {
 			background-position:-696px -24px;
 		}
 
 		/* 
 		 * links for BOTH static and dynamic sub menus 
 		 * use this rule to group declarations common to the two different types of menus (static/dynamic)
 		 */
 		#body #mainNav .subNav a {
 			font-size:14px;
 			font-family:arial;
 			font-weight:normal;
 		}
 
 		/* 
 		 * links for static sub menus
 		 */
 		/* 
 		 * :hover and selected (active) links for static menus
 		 * they are both styled the same
 		 */
 		/* 
 		 * links for dynamic sub menus 
 		 */
 		/* 
 		 * :hover and selected (active) links for fly-out menus
 		 * they are both styled the same 
 		 */
 		/* 
 		 * sub menus (fly-out) 
 		 */
 		#body .sub_dynamic #mainNav .subNav {
 			border-style:solid;
 			border-width:1px;
 		}
 
 
 
 
 /***************************************************
 Theme: Raven - Derived From: Mimosa
 Layout: Layout 1 - Derived from: Layout 1 with Title
 ***************************************************/
 .lo_layout1 #pageName {display:none}
 .lo_layout1 #bd {margin-top:58px}
 
 
 /***************************************************
 Theme: Raven - Derived From: Mimosa
 Layout: Layout 1 - Derived from: Layout 1 with Title
 ***************************************************/
 
 
 /**************************************************************
 Theme: Raven - Derived From: Mimosa
 Layout: Layout 1 with Title - Derived from: Layout 1 with Title
 **************************************************************/
 .lo_layout1 #zA, .lo_layout1wt #zA {float:left;width:270px;margin:0 30px 15px 0;display:inline}
 .lo_layout1 #zB, .lo_layout1wt #zB {float:left;width:250px;margin:0 0 15px 0}
 .lo_layout1 #zC, .lo_layout1wt #zC {clear:both;padding:20px 0 15px 0;width:550px}
 .lo_layout1 #zB #mapZone, .lo_layout1wt #zB #mapZone {width:240px;height:230px}
 .lo_layout1 #zB #drivingDirectionsLnk, .lo_layout1wt #zB #drivingDirectionsLnk {top:235px}
 .lo_layout1 #zC form#contactForm, .lo_layout1wt #zC form#contactForm {width:300px;margin-left:20px}
 
 
 /**************************************************************
 Theme: Raven - Derived From: Mimosa
 Layout: Layout 1 with Title - Derived from: Layout 1 with Title
 **************************************************************/
 
 
 /**************************************************************
 Theme: Raven - Derived From: Mimosa
 Layout: Layout 2 with Title - Derived from: Layout 2 with Title
 **************************************************************/
 .lo_layout2wt #zA {padding-bottom:15px;margin-bottom:15px;width:550px}
 .lo_layout2wt #zB {float:left;width:285px;margin:0 15px 25px 0}
 .lo_layout2wt #zC {float:right;width:240px;margin:0 0 25px 0}
 .lo_layout2wt #zB	#mapZone {width:270px;height:235px}
 .lo_layout2wt #zB	#drivingDirectionsLnk {top:240px}
 .lo_layout2wt #zC form#contactForm {width:230px}
 
 
 /**************************************************************
 Theme: Raven - Derived From: Mimosa
 Layout: Layout 2 with Title - Derived from: Layout 2 with Title
 **************************************************************/
 
 
 /**************************************************************
 Theme: Raven - Derived From: Mimosa
 Layout: Layout 3 with Title - Derived from: Layout 3 with Title
 **************************************************************/
 .lo_layout3wt #zA {float:left;width:275px;margin:0 30px 15px 0}
 .lo_layout3wt #zB {clear:left;float:left;width:275px;margin:0 30px 15px 0}
 .lo_layout3wt #zC {margin:0 0px 15px 0;width:240px}
 .lo_layout3wt #zC, {margin:0 0px 15px 307px;width:240px}
 .lo_layout3wt #zB	#mapZone {width:250px;height:235px}
 .lo_layout3wt #zB	#drivingDirectionsLnk {top:243px}
 .lo_layout3wt #zC form#contactForm {width:225px}
 
 
 /**************************************************************
 Theme: Raven - Derived From: Mimosa
 Layout: Layout 3 with Title - Derived from: Layout 3 with Title
 **************************************************************/
 
 #body {
 	color: #ffffff;
 }
 
 #body h1 {
 	color: #d92f5c;
 }
 
 #body h2 {
 	color: #c71b4b;
 }
 
 #body a:link,
 #body a:visited {
 	color: #ffffff;
 }
 
 #body a:hover,
 #body a:focus,
 #body a:active {
 	text-decoration: none;
 }
 
 #ft a:link,
 #ft a:visited {
 	color: #c71b4b;
 	text-decoration: none;
 }
 
 #ft a:hover,
 #ft a:focus,
 #ft a:active {
 	text-decoration: underline;
 }
 
 html {
 	background-color: #111111 !important;
 }
 
 body {
 	background-color: #111111;
 }
 
 #body {
 	background-image: url(http://l.yimg.com/lm/themes/yhoo/ga/raven/rock/palette1/4.0.4/en-us/images/poundbody.png);
 }
 
 #hd {
 	background-image: url(http://l.yimg.com/lm/themes/yhoo/ga/raven/rock/palette1/4.0.4/en-us/images/hd.jpg);
 	background-color: #000000;
 }
 
 #hMisc {
 	background-image: url(http://l.yimg.com/lm/themes/yhoo/ga/raven/rock/palette1/4.0.4/en-us/images/hmisc.jpg);
 }
 		
 #navigation ul#mainNav li.active a {
 	background-color:#343434;
 }
 
 ul#mainNav li {
 	background-color: #000000;
 }
 
 ul#mainNav li a:hover,
 ul#mainNav li a:active,
 ul#mainNav li a:focus {
 	background-color: #343434;
 }
 
 #ft {
 	background-image: url(http://l.yimg.com/lm/themes/yhoo/ga/raven/rock/palette1/4.0.4/en-us/images/ft.png);
 	background-color: #000000;
 }
 
 #body #mainNav .subNav a {
 	color:#FFFFFF;
 }
 
 #body .sub_static #mainNav .subNav a {
 	background-color:#000000;
 }
 
 #body .sub_static #mainNav .subNav a:hover,
 #body .sub_static #mainNav .active-sub a {
 	background-color:#2C2C2C;
 }
 	
 #body .sub_dynamic #mainNav .subNav a {
 	background-color:#212121;
 }
 		
 #body .sub_dynamic #mainNav .subNav a:hover,
 #body .sub_dynamic #mainNav .active-sub a {
 	background-color:#343434;
 }
 
 #body .sub_dynamic #mainNav .subNav {
 	border-color:#363636;
 }
 
